@import url(http://weloveiconfonts.com/api/?family=fontawesome|maki);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/* maki */
[class*="maki-"]:before {
  font-family: 'maki', sans-serif;
}

/* Set max width of container*/
.container {
  max-width: 1024px;
}

body {
    padding-top:50px; 
    height: 100%; 
    margin: 0; 
    /*padding: 0;*/
}
/* Set height of map to 80vh to show the news items at the bottom*/
.map {
  height: 80vh;
}

body,
div,
ul,
p,
h1,
h2
{
  padding:0;
  margin:0;
  font-family: "Oswald", sans-serif;
  color: #383838;
}

ul {
    list-style-position: inside;
}

li {
  padding-left: 20px;
}

h3 {
  font: bold 24px/29px;
  border-bottom: 2px solid #333;
}

.data-label,
.map-label {
  font-weight: bold;
}

.news-container {
  text-align: left;
}

/* Navbar styles */
.navbar-custom {
  background-color: #168ccc;
  color:#fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.navbar-custom a{
    color:#fefefe;
}

.navbar-header {
  font: bold 24px/29px;
  font-family:"Oswald", sans-serif;
}


 .hamburger-menu {
    display: inline-table;
  } 

.input-group {
    display: inline-table;
}

/* slideout menu and panel styles*/
.menu,
.slideout-menu {
  padding-top:50px; 
  padding-left: 20px;
  position: fixed;
  right: 0;
  bottom: 20;
  z-index: 1;
  max-width: 80vw;
  height: 100%;
  overflow-y: visible;
  -webkit-overflow-scrolling: touch;
  display: none;
  background-color: #fff;
}

.slideout-menu {
  right: auto;
}

.menu-section-title {
  margin-top: 10px;
  margin-bottom: 0px;
  font-family:"Oswald", sans-serif;
}

.panel,
.slideout-panel {
  padding-top:50px; 
  position: relative;
  z-index: 0;
}

.panel {
  text-align: center;
  padding-top: 5px;
  min-height: 100%;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.info-window-container {
  text-align: left;
}

.labels {
  color: black;
  background-color: white;
  font-family: "Oswald", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  width: 25px;     
  border: 0;
  white-space: nowrap;
}
